

.menuAccueil{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:7% ;
    width: 30%;
    border: 3px solid #8b8017;
    text-align: center;
    height: 60%;
    background-color: #fff;
    border-radius: 20px;
}

.menuJouer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top:1% ;
    width: 100%;
    padding: 10px;
    text-align: center;
    height: 60%;
    background-color: #fff;
}

.menu {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top:5% ;
    width: 80%;
    padding: 2%;
    text-align: center;
    height: 50%;
    background-color: #fff;
}

.menuAccueil button{
    margin: 10px;
    padding: 10px;
    width: 70%;
    border: 2px solid #c4b31f;
    background-color: #c4b31f;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.menuAccueil .diff {
    display: flex;
}

.menuAccueil .diff button{
    margin: 10px;
    padding: 10px;
    width: 45%;
    border: 2px solid #6b6b6b;
    background-color: #6b6b6b;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.menuAccueil .diff .active{
    border: 2px solid #c46a16;
    background-color: #c46a16;
}

.menuAccueil h2 {
    margin-top: 5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.accueil > div {
    display: flex;
    justify-content: space-around;
}

.accueil .pub {
    border: 3px dashed #000000;
    text-align: center;
    background-color: #fff;
    padding: 0px;
    overflow: hidden;
}

.accueil .pubList {
    width: 30%;
    margin: 0px;
    margin-top: 7%;
}

.accueil .pub img {
    width: 100%;
    height: 100%;
}