.regles{
    margin-top: 5%;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000000;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    padding-top: 3%;
}

.regles button{
    width: 30%;
    background-color: #c4b31f;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    opacity: 1.2;
    text-size-adjust: 50px;
}

.regles .description {
    border-color: black;
    border-style: solid;
    border-radius: 5%;
    padding: 5%;
    width: 75%;
    margin: auto;
    margin-bottom: 2%;
    margin-top: 2%;
    background: radial-gradient(#f2e7bf, #e6cf7d) no-repeat;
    font-style: italic;
}

.regles p {
    font-size: large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    line-height: 150%;
}

.regles > div {
    display: flex;
    justify-content: space-around;
    margin: 3%;
}

.regles img {
    height: 50%;
}