.scores{
    margin-top: 10%;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000000;
    text-align: center;
    width: 80%;
    margin-left: 10%;
}

.scores button{
    width: 30%;
    background-color: #c4b31f;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    opacity: 1.2;
    text-size-adjust: 50px;
}